.gradle
/local
.properties
/
.idea/
.idea/libraries
.DS_Store
/build
bin/
gen/
out/
*.log
*.iml
local.properties
.gradle/
build/
*.class
build.gradle
gradlew.bat
gradlew
settings.gradle
gradle.properties.
gradle/
gradle.properties